
<script>
  var apiendpoint = "https://qg94vnwwrb.execute-api.ap-southeast-2.amazonaws.com/test/google-analytics-report";
  function loadGoogleAnalyticsReport() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var googleanalyticsreport = this.responseText;
        console.log(googleanalyticsreport);
      }
    };
    xhttp.open("GET", apiendpoint, true);
    xhttp.send();
  }
</script>
<button type="button" onclick="loadGoogleAnalyticsReport()">Web Access Data</button>